.hero {
  background-color: #272829;
}

.heroInner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 50px 100px 50px;
  display: flex;
  justify-content: space-between;
}

.titleContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.subtitle {
  /* margin-top: auto; */
  font-family: "Montserrat";
  font-size: 16px;
  color: #f5f5f5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  font-family: "Life Savers";
  max-width: 600px;
  color: #f5f5f5;
  font-size: 32px;
  font-weight: 300;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid red; */
}

.image {
  height: 400px;
  width: 300px;
  margin-bottom: 50px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: -13px 17px 18px -1px #000;
  transition: all 500ms;
}

.circle {
  border: 2px solid #17706e;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 500ms;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}

.activeCircle {
  border: 2px solid #17706e;
  height: 20px;
  width: 60px;
  transition: all 500ms;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 10px;
}
