.circle {
    background-color: #f5f5f5;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 20px;
  }

  .logo {
    width: 100px;
    height: 69px;
    /* border: 1px solid red; */
    /* margin-top: auto; */
  }


  .socialIcon {
    width: 15px;
    height: 15px;
    fill: none;
  }
  
  .socialIcon path {
    fill: #f5f5f5;
  }
  
  .socialIconList {
    list-style-type: none;
    display: flex;
    gap: 18px;
    margin: 0px;
    padding: 0px;
    margin-bottom: auto;
  }
  
  .socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .socialLink:hover {
    background-color: #f5f5f5;
    transition: all 500ms;
  }

  .socialLink:hover .socialIcon path {
    fill: #272829;
    transition: all 500ms;
  }
  
  .socialContainer {
    /* border: 1px solid red; */
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }
  
  .findMeContainer {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0 0 15px 0;
    padding: 0 0 0 6px;
  }

  .findMeText {
    font-family: "Montserrat";
    font-size: 20px;
    color: #f5f5f5;
  }