.header {
  background-color: #272829;
  display: flex;
  align-items: center;
  padding: 30px 20px;
  margin: 0;
}

.logo {
  width: 100px;
  height: 69px;
  cursor: pointer;
}

.navigation {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.navLink {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.6);
  text-transform: uppercase;
  font-family: "Life Savers";
  cursor: pointer;
  /* border: 1px solid red; */
}

.navLink:hover {
  color: #f5f5f5;
}

.navigation a:global(.active) {
  color: #f5f5f5;
}

.circle {
  background-color: #f5f5f5;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 20px;
}

.navInput {
  margin-left: auto;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  font-family: "Life Savers";
  color: #272829;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.navInput::placeholder {
  color: #272829;
}

.navButton {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border: none;
  outline: none;
  padding: 10px 10px;
  font-size: 16px;
  background-color: #d9d9d9;
  font-family: "Life Savers";
  cursor: pointer;
}
