<div class="header">
    <div class="circle"></div>
    <a routerLink="/">
      <img src="../../assets/images/logo.png" alt="Logo" class="logo" />
    </a>
    <ul class=navigation>
      <li class="navItem">
        <a routerLink="/about"  class="navLink">
          About
        </a>
      </li>
      <li class="navItem">
        <a routerLink="/teams"  class="navLink">
          teams
        </a>
      </li>
      <li class="navItem">
        <a routerLink="/icons"  class="navLink">
          icons
        </a>
      </li>
    </ul>

    <input class="navInput" placeholder="search player" />
    <button class="navButton">search</button>
</div>
